* {
    padding: 0;
    margin: 0;
}


/* body */
html,
body {
    height: 100%;
}

body {
    display: grid;
    grid-gap: 1em;
    font-family: "Helvetica Neue", sans-serif;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "nav""main""footer";
}

/* body - platform specific */
@media screen and (max-width: calc(((759.9px + 10rem) / 0.7))) {
    body {
        grid-gap: 0;
    }
}

/* email obfuscation */
.crypted-mail:after {
    content: attr(data-name) "@"attr(data-domain) "."attr(data-tld);
}

/* link color */
a:link,
a:visited {
    color: inherit;
}