<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141114029-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-141114029-1');
    </script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Site Desciption -->
    $if(site_description)$
    <meta name="description" content="$site_description$">
    $endif$
    <!-- keywords -->
    <meta name="keywords"
        content="Benedikt Mayer, benediktmayer, data science, human computer interaction, haskell, software development">
    <!-- Favicon -->
    <link rel="shortcut icon" href="$baseurl$/static/img/hololens.jpg" type="image/x-icon" />
    <!-- Blog Title -->
    $if(site_title)$
    <title>$site_title$</title>
    $endif$
    <!-- Property Metas -->
    $if(site_description)$
    <meta property="og:title" content="$site_description$" />
    $endif$
    <meta property="og:site_name" content="$site_title$" />
    <meta property="og:image" content="$baseurl$static/img/portrait.JPG">
    <meta property="og:url" content="$baseurl$">

    <!-- Canonical -->
    <link rel="canonical" href="$baseurl$/$slug$.html">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!-- StyleSheet -->
    <link rel="stylesheet" href="$baseurl$/static/css/navigation.css">
    <link rel="stylesheet" href="$baseurl$/static/css/general.css">
    <link rel="stylesheet" href="$baseurl$/static/css/main.css">
    <link rel="stylesheet" href="$baseurl$/static/css/footer.css">
</head>