<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Site Desciption -->
    $if(site_description)$
    <meta name="description" content="$site_description$">
    $endif$
    <!-- keywords -->
    <meta name="keywords"
        content="Benedikt Mayer, benediktmayer, data science, human computer interaction, haskell, software development">
    <!-- Favicon -->
    <!-- <link rel="shortcut icon" href="$baseurl$/static/img/ico.png" type="image/x-icon" /> -->
    <!-- Blog Title -->
    $if(site_title)$
    <title>$site_title$</title>
    $endif$
    <!-- Property Metas -->
    $if(site_description)$
    <meta property="og:title" content="$site_description$" />
    $endif$
    <meta property="og:site_name" content="$site_title$" />
    <meta property="og:image"
        content="$baseurl$static/img/portrait.JPG">
    <meta property="og:url"
        content="$baseurl$">

    <!-- Canonical -->
    <link rel="canonical" href="$baseurl$">
    <!-- StyleSheet -->
    <link rel="stylesheet" href="$baseurl$/static/css/styles.css">
    $if(visualizations)$
        <link rel="stylesheet" href="$baseurl$/static/css/visstyles.css">
    $endif$
    <!-- Fonts -->
    <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet" type="text/css">
</head>