<div>
    <h2>$project_title_force$</h2>
    <p>$project_description_force$</p>
    <br>
    <div class="button-group" id="forcebuttons">
        <input type="radio" name="Force" value="CDU" checked="true">CDU
        <input type="radio" name="Force" value="AfD">AfD
        <input type="radio" name="Force" value="SPD">SPD
    </div>
    <svg class="infovis-element" id="force-directed"></svg>
</div>
<br>
<div>
    <h2>$project_title_scatterplot$</h2>
    <p>$project_description_scatterplot$</p>
    <br>
    <div class="button-group" id="scatterplot">
        <input type="radio" name="Scatter" value="CDU" checked="true">CDU
        <input type="radio" name="Scatter" value="AfD">AfD
        <input type="radio" name="Scatter" value="SPD">SPD
    </div>
    <div class="button-group infovis-element" id="vis-container"></div>
</div>