<!-- Navigation -->
<nav class="navbar">
    <span aria-label="home">
        <a class="logo" href="$baseurl$">benedikt mayer</a>
    </span>
    <span aria-label="mobile menu" class="navbar-toggle" id="js-navbar-toggle">
        <i class="fas fa-bars"></i>
    </span>
    <ul class="main-nav" id="js-menu">
        <li>
            <a class="nav-links" href="$baseurl$/about.html">about</a>
        </li>
        <li>
            <a class="nav-links" href="$baseurl$/contact.html">contact</a>
        </li>
        <li>
            <a aria-label="link to my Github profile" class="nav-links" href="https://www.github.com/$github_username$" target="_blank" rel="noreferrer">
                <i class="fab fa-github"></i> $github_username$
            </a>
        </li>
    </ul>
</nav>