<!-- Navigation -->
<nav class="navbar">
    <span aria-label="home">
        <a class="logo" href="$baseurl$">benedikt mayer</a>
    </span>
    <span aria-label="mobile menu" class="navbar-toggle" id="js-navbar-toggle">
        <i class="fas fa-bars"></i>
    </span>
    <ul class="main-nav" id="js-menu">
        <li>
            <a class="nav-links" href="$baseurl$/about.html">about</a>
        </li>
        <li>
            <a class="nav-links" href="$baseurl$/contact.html">contact</a>
        </li>
        <li class="dropdown">
            <span class="nav-links" id="js-navbar-projects-toggle">projects</span>
            <!-- <a class="nav-links" href="#">projects</a> -->
            <ul class="dropdown-content" id="js-projects-menu">
                $for(projects)$
                <li>
                    <a class="nav-links" href="$baseurl$/$project_slug$.html">$project_slug$</a>
                </li>
                <!-- <hr> -->
                $endfor$
            </ul>
        </li>
        <li>
            <a aria-label="link to my Github profile" class="nav-links" href="https://www.github.com/$github_username$"
                target="_blank" rel="noreferrer">
                <i aria-hidden="true" class="fab fa-github"></i> $github_username$
            </a>
        </li>
        <hr class="nav-separator">
    </ul>
</nav>